table{
  font-family: 'Framklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  border: 5px solid #e5e4e3;
}

.cabecalho__tituo{
  background-color: #B3D9DB;
}

.cabecalho__dias{
  background-color: #edd2cb;
  border-bottom: 1px groove #e5e4e3;
}

tr:nth-child(even){
  background-color: #9DDBB3;
}

tr td:first-child{
  border-right: 1px groove #e5e4e3;
}